<h1>About</h1>
<a href="http://railstutorial.org">Ruby on Rails Tutorial</a> is a project to make teach <a href="http://rubyonrails.org">Ruby on Rails</a> to people who want to learn it.  This is a sample application from that tutorial.</p>